In [28]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import seaborn as sns
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression, Lasso, Ridge
import matplotlib.pyplot as plt
%matplotlib inline
import csv
from bs4 import BeautifulSoup
from datetime import datetime
import seaborn
from sklearn import linear_model
import requests

In [2]:
# Import from https://datasets.imdbws.com/
df_titles = DataFrame.from_csv("data.tsv", sep="\t")
df_titles.head(5)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3214: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
tconst,,,,,,,,
tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short"
tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [3]:
# Import from https://datasets.imdbws.com/
df_rating = DataFrame.from_csv("data2.tsv", sep="\t")
df_rating.head(5)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  """Entry point for launching an IPython kernel.

           averageRating  numVotes
tconst
tt0000001            5.8      1520
tt0000002            6.3       185
tt0000003            6.6      1165
tt0000004            6.3       113
tt0000005            6.2      1875

In [4]:
df_merge = pd.merge(df_titles, df_rating, on='tconst')
df_merge.shape

(951197, 10)

In [5]:
df_merge.head(5)

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
tconst,,,,,,,,,,
tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",5.8,1520
tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",6.3,185
tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance",6.6,1165
tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short",6.3,113
tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short",6.2,1875

In [6]:
df_merge.drop(['isAdult'], 1, inplace=True)
df_merge.drop(['originalTitle'], 1, inplace=True)
df3 = df_merge.sort_values('numVotes', ascending=False)
df3= df3.rename(index=str, columns={"primaryTitle": "Title", "startYear": "Year", "genres": "Genres", "averageRating": "Rating IMDb" ,})
df4 = df3.head(10000)
df4.head(5)

,titleType,Title,Year,endYear,runtimeMinutes,Genres,Rating IMDb,numVotes
tconst,,,,,,,,
tt0111161,movie,The Shawshank Redemption,1994,\N,142,Drama,9.3,2111033
tt0468569,movie,The Dark Knight,2008,\N,152,"Action,Crime,Drama",9.0,2076962
tt1375666,movie,Inception,2010,\N,148,"Action,Adventure,Sci-Fi",8.8,1850525
tt0137523,movie,Fight Club,1999,\N,139,Drama,8.8,1687556
tt0110912,movie,Pulp Fiction,1994,\N,154,"Crime,Drama",8.9,1650868

In [7]:
df4.drop(['titleType'], 1, inplace=True)
df4.drop(['endYear'], 1, inplace=True)

/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [8]:
df4.shape

(10000, 6)

In [9]:
# Collect from the-numbers.com by BeautifulSoup
res = requests.get("https://www.the-numbers.com/movie/budgets/all")
soup = BeautifulSoup(res.content,'lxml')
# collect links
url_list=[]
for div in soup.findAll("div", {"class":"pagination"}):
    for link in div.select("a"):
         url_list.append("https://www.the-numbers.com" + link['href'])
print(url_list)   
# loop through, collecting data, create dataframe
df_the_numbers_all = pd.DataFrame()
for link in url_list:
    res = requests.get(link)
    soup = BeautifulSoup(res.content,'lxml')
    table = soup.find_all('table')
    df8 = pd.read_html(str(table))
    df_the_numbers_all = df_the_numbers_all.append(df8)
    
df_the_numbers_all.shape
df_the_numbers_all.head(5)

['https://www.the-numbers.com/movie/budgets/all', 'https://www.the-numbers.com/movie/budgets/all/101', 'https://www.the-numbers.com/movie/budgets/all/201', 'https://www.the-numbers.com/movie/budgets/all/301', 'https://www.the-numbers.com/movie/budgets/all/401', 'https://www.the-numbers.com/movie/budgets/all/501']

,Unnamed: 0,ReleaseDate,Movie,ProductionBudget,DomesticGross,WorldwideGross
0,1,"Dec 17, 2009",Avatar,"$425,000,000","$760,507,625","$2,789,705,275"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Apr 23, 2019",Avengers: Endgame,"$400,000,000","$858,373,000","$2,795,473,000"
3,4,"Apr 22, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 13, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [10]:
df_the_numbers_all.columns = [column.strip() for column in df_the_numbers_all.columns]
df_the_numbers_all.columns
df_the_numbers_all3 = df_the_numbers_all[df_the_numbers_all.ReleaseDate != 'Unknown']

In [11]:
df_the_numbers_all3.drop(['Unnamed: 0'], 1, inplace=True)

In [12]:
df_the_numbers_all3.head(5)

,ReleaseDate,Movie,ProductionBudget,DomesticGross,WorldwideGross
0,"Dec 17, 2009",Avatar,"$425,000,000","$760,507,625","$2,789,705,275"
1,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,"Apr 23, 2019",Avengers: Endgame,"$400,000,000","$858,373,000","$2,795,473,000"
3,"Apr 22, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,"Dec 13, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [13]:
#Rename, sort
df_the_numbers_all2 = df_the_numbers_all3.rename(columns={"Movie": "Title", "ReleaseDate": "Year"})
df_the_numbers_all2["Year"] = pd.to_datetime(df_the_numbers_all2["Year"]).dt.strftime('%Y')
df_the_numbers_all2.head(5)
df_the_numbers_all2.sort_values('Year').tail()

,Year,Title,ProductionBudget,DomesticGross,WorldwideGross
98,2019,Wonder Park,"$100,000,000","$45,216,793","$115,115,984"
87,2020,Sonic The Hedgehog,"$90,000,000",$0,$0
14,2020,The Voyage of Doctor Dolittle,"$175,000,000",$0,$0
30,2020,Tenet,"$224,000,000",$0,$0
43,2020,Call of the Wild,"$82,000,000",$0,$0

In [14]:
df_the_numbers_all2.shape

(598, 5)

In [15]:
# Merge two dataframes
df_combo = pd.merge(df_the_numbers_all2, df4,  how='inner', on=['Title', 'Year'])
df_combo.head(5)
df_combo.sort_values('Year').head()

,Year,Title,ProductionBudget,DomesticGross,WorldwideGross,runtimeMinutes,Genres,Rating IMDb,numVotes
318,1991,Terminator 2: Judgment Day,"$100,000,000","$203,464,105","$515,419,827",137,"Action,Sci-Fi",8.5,913217
478,1992,Batman Returns,"$80,000,000","$162,833,635","$266,824,291",126,"Action,Crime,Fantasy",7.0,254007
450,1993,Last Action Hero,"$85,000,000","$50,016,394","$137,298,489",130,"Action,Adventure,Comedy",6.3,125970
324,1994,True Lies,"$100,000,000","$146,282,411","$365,300,000",141,"Action,Comedy,Thriller",7.2,220613
385,1995,Cutthroat Island,"$92,000,000","$10,017,322","$18,517,322",124,"Action,Adventure,Comedy",5.6,24212

In [16]:
#Remove ('$' and ',')
df_combo["runtimeMinutes"]  = df_combo["runtimeMinutes"].apply(lambda x: x.replace('$','').replace('\\N','0').replace(',','').replace('n/a','0'))

In [17]:
#Remove ('$' and ',')
df_combo.fillna
df_combo["WorldwideGross"]  = df_combo["WorldwideGross"].apply(lambda x: x.replace('$','').replace(',','').replace('n/a','0'))
df_combo["ProductionBudget"]  = df_combo["ProductionBudget"].apply(lambda x: x.replace('$','').replace(',','').replace('n/a','0'))
df_combo["DomesticGross"]  = df_combo["DomesticGross"].apply(lambda x: x.replace('$','').replace(',','').replace('n/a','0'))

df_combo.head(5)

,Year,Title,ProductionBudget,DomesticGross,WorldwideGross,runtimeMinutes,Genres,Rating IMDb,numVotes
0,2009,Avatar,425000000,760507625,2789705275,162,"Action,Adventure,Fantasy",7.8,1049384
1,2011,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,136,"Action,Adventure,Fantasy",6.6,449280
2,2019,Avengers: Endgame,400000000,858373000,2795473000,181,"Action,Adventure,Sci-Fi",8.7,470989
3,2015,Avengers: Age of Ultron,330600000,459005868,1403013963,141,"Action,Adventure,Sci-Fi",7.3,670766
4,2018,Avengers: Infinity War,300000000,678815482,2048134200,149,"Action,Adventure,Sci-Fi",8.5,682591

In [18]:
df_combo.sort_values("runtimeMinutes").tail()

,Year,Title,ProductionBudget,DomesticGross,WorldwideGross,runtimeMinutes,Genres,Rating IMDb,numVotes
202,2013,The Croods,135000000,187168425,573068425,98,"Action,Adventure,Animation",7.2,177411
169,2012,Wrath of the Titans,150000000,83670083,305270083,99,"Action,Adventure,Fantasy",5.7,172843
491,2008,Bedtime Stories,80000000,110101975,221468935,99,"Comedy,Family,Fantasy",6.1,82727
509,2001,Swordfish,80000000,69772969,147080413,99,"Action,Crime,Thriller",6.5,169334
210,2018,The Nutcracker and the Four Realms,132900000,54858851,170293899,99,"Adventure,Family,Fantasy",5.5,19837

In [19]:
# Create 19 separete rows with Genres, transform booleans into int
df_combo['Action'] = ['Action' in x for x in df_combo['Genres']]
df_combo['Action']=df_combo['Action'].astype('int')
df_combo['Adventure'] = ['Adventure' in x for x in df_combo['Genres']]
df_combo['Adventure']=df_combo['Adventure'].astype('int')
df_combo['Biography'] = ['Biography' in x for x in df_combo['Genres']]
df_combo['Biography']=df_combo['Biography'].astype('int')
df_combo['Comedy'] = ['Comedy' in x for x in df_combo['Genres']]
df_combo['Comedy']=df_combo['Comedy'].astype('int')
df_combo['Crime'] = ['Crime' in x for x in df_combo['Genres']]
df_combo['Crime']=df_combo['Crime'].astype('int')
df_combo['Drama'] = ['Drama' in x for x in df_combo['Genres']]
df_combo['Drama']=df_combo['Drama'].astype('int')
df_combo['Family'] = ['Family' in x for x in df_combo['Genres']]
df_combo['Family']=df_combo['Family'].astype('int')
df_combo['History'] = ['History' in x for x in df_combo['Genres']]
df_combo['History']=df_combo['History'].astype('int')
df_combo['Horror'] = ['Horror' in x for x in df_combo['Genres']]
df_combo['Horror']=df_combo['Horror'].astype('int')
df_combo['Music'] = ['Music' in x for x in df_combo['Genres']]
df_combo['Music']=df_combo['Music'].astype('int')
df_combo['Mystery'] = ['Mystery' in x for x in df_combo['Genres']]
df_combo['Mystery']=df_combo['Mystery'].astype('int')
df_combo['Romance'] = ['Romance' in x for x in df_combo['Genres']]
df_combo['Romance']=df_combo['Romance'].astype('int')
df_combo['Sport'] = ['Sport' in x for x in df_combo['Genres']]
df_combo['Sport']=df_combo['Sport'].astype('int')
df_combo['Thriller'] = ['Thriller' in x for x in df_combo['Genres']]
df_combo['Thriller']=df_combo['Thriller'].astype('int')
df_combo['War'] = ['War' in x for x in df_combo['Genres']]
df_combo['War']=df_combo['War'].astype('int')
df_combo['Western'] = ['Western' in x for x in df_combo['Genres']]
df_combo['Western']=df_combo['Western'].astype('int')
df_combo['Fantasy'] = ['Fantasy' in x for x in df_combo['Genres']]
df_combo['Fantasy']=df_combo['Fantasy'].astype('int')
df_combo['Animation'] = ['Animation' in x for x in df_combo['Genres']]
df_combo['Animation']=df_combo['Animation'].astype('int')
df_combo['Sci-Fi'] = ['Sci-Fi' in x for x in df_combo['Genres']]
df_combo['Sci-Fi']=df_combo['Sci-Fi'].astype('int')
df_combo.drop(['Genres'], 1, inplace=True)
df_combo.shape

(521, 27)

In [20]:
df_combo

,Year,Title,ProductionBudget,DomesticGross,WorldwideGross,runtimeMinutes,Rating IMDb,numVotes,Action,Adventure,...,Music,Mystery,Romance,Sport,Thriller,War,Western,Fantasy,Animation,Sci-Fi
0,2009,Avatar,425000000,760507625,2789705275,162,7.8,1049384,1,1,...,0,0,0,0,0,0,0,1,0,0
1,2011,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,136,6.6,449280,1,1,...,0,0,0,0,0,0,0,1,0,0
2,2019,Avengers: Endgame,400000000,858373000,2795473000,181,8.7,470989,1,1,...,0,0,0,0,0,0,0,0,0,1
3,2015,Avengers: Age of Ultron,330600000,459005868,1403013963,141,7.3,670766,1,1,...,0,0,0,0,0,0,0,0,0,1
4,2018,Avengers: Infinity War,300000000,678815482,2048134200,149,8.5,682591,1,1,...,0,0,0,0,0,0,0,0,0,1
5,2017,Justice League,300000000,229024295,655945209,120,6.5,331909,1,1,...,0,0,0,0,0,0,0,1,0,0
6,2015,Spectre,300000000,200074175,879620923,148,6.8,353803,1,1,...,0,0,0,0,1,0,0,0,0,0
7,2012,The Dark Knight Rises,275000000,448139099,1084439099,164,8.4,1393518,1,0,...,0,0,0,0,1,0,0,0,0,0
8,2018,Solo: A Star Wars Story,275000000,213767512,393151347,135,7.0,229546,1,1,...,0,0,0,0,0,0,0,1,0,0
9,2013,The Lone Ranger,275000000,89302115,260002115,150,6.4,209489,1,1,...,0,0,0,0,0,0,1,0,0,0
10,2012,John Carter,275000000,73058679,282778100,132,6.6,242569,1,1,...,0,0,0,0,0,0,0,0,0,1
11,2010,Tangled,260000000,200821936,586477240,100,7.8,368282,0,1,...,0,0,0,0,0,0,0,0,1,0
12,2007,Spider-Man 3,258000000,336530303,894860230,139,6.2,463515,1,1,...,0,0,0,0,0,0,0,0,0,1
13,2016,Captain America: Civil War,250000000,408084349,1140069413,147,7.8,588745,1,1,...,0,0,0,0,0,0,0,0,0,1
14,2016,Batman v Superman: Dawn of Justice,250000000,330360194,867500281,151,6.5,579400,1,1,...,0,0,0,0,0,0,0,1,0,0
15,2012,The Hobbit: An Unexpected Journey,250000000,303003568,1017003568,169,7.9,721067,0,1,...,0,0,0,0,0,0,0,1,0,0
16,2009,Harry Potter and the Half-Blood Prince,250000000,302089278,935213767,153,7.6,421105,0,1,...,0,0,0,0,0,0,0,1,0,0
17,2013,The Hobbit: The Desolation of Smaug,250000000,258366855,960366855,161,7.8,567122,0,1,...,0,0,0,0,0,0,0,1,0,0
18,2014,The Hobbit: The Battle of the Five Armies,250000000,255119788,945577621,144,7.4,440189,0,1,...,0,0,0,0,0,0,0,1,0,0
19,2017,The Fate of the Furious,250000000,225764765,1234846267,136,6.7,181168,1,1,...,0,0,0,0,1,0,0,0,0,0
20,2006,Superman Returns,232000000,200120000,374085065,154,6.1,260949,1,1,...,0,0,0,0,0,0,0,0,0,1
21,2017,Pirates of the Caribbean: Dead Men Tell No Tales,230000000,172558876,788241137,129,6.6,230514,1,1,...,0,0,0,0,0,0,0,1,0,0
22,2008,Quantum of Solace,230000000,169368427,591692078,106,6.6,378714,1,1,...,0,0,0,0,1,0,0,0,0,0
23,2012,The Avengers,225000000,623279547,1517935897,143,8.1,1188277,1,1,...,0,0,0,0,0,0,0,0,0,1
24,2013,Man of Steel,225000000,291045518,667999518,143,7.1,649741,1,1,...,0,0,0,0,0,0,0,0,0,1
25,2008,The Chronicles of Narnia: Prince Caspian,225000000,141621490,417341288,150,6.5,180108,1,1,...,0,0,0,0,0,0,0,0,0,0
26,2012,The Amazing Spider-Man,220000000,262030663,757890267,136,7.0,528028,1,1,...,0,0,0,0,0,0,0,0,0,1
27,2012,Battleship,220000000,65233400,313477717,131,5.8,225743,1,1,...,0,0,0,0,0,0,0,0,0,1
28,2017,Transformers: The Last Knight,217000000,130168683,602893340,154,5.2,120107,1,1,...,0,0,0,0,0,0,0,0,0,1
29,2015,Jurassic World,215000000,652270625,1648854864,124,7.0,541543,1,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,2008,Bedtime Stories,80000000,110101975,221468935,99,6.1,82727,0,0,...,0,0,0,0,0,0,0,1,0,0
492,2002,Road to Perdition,80000000,104054514,183354514,117,7.7,228828,0,0,...,0,0,0,0,1,0,0,0,0,0
493,2003,Daredevil,80000000,102543518,182782518,103,5.3,198028,1,0,...,0,0,0,0,0,0,0,0,0,0
494,2008,Eagle Eye,80000000,101440743,180585259,118,6.6,167536,1,0,...,0,1,0,0,1,0,0,0,0,0
495,1997,Con Air,80000000,101117573,224117573,115,6.8,258220,1,0,...,0,0,0,0,1,0,0,0,0,0
496,2010,Yogi Bear,80000000,100246011,204774690,80,4.6,19007,0,1,...,0,0,0,0,0,0,0,0,1,0
497,2003,Cold Mountain,80000000,95632614,165173909,154,7.2,132550,0,1,...,0,0,0,0,0,0,0,0,0,0
498,2010,The Book of Eli,80000000,94835059,158750817,118,6.9,272565,1,1,...,0,0,0,0,0,0,0,0,0,0
499,1997,Flubber,80000000,92993801,177993801,93,5.2,78319,0,0,...,0,0,0,0,0,0,0,0,0,1
500,1999,The Haunting,80000000,91188905,180188905,113,4.9,67064,0,0,...,0,1,0,0,0,0,0,1,0,0
501,1996,Space Jam,80000000,90463534,250200000,88,6.4,142260,0,1,...,0,0,0,0,0,0,0,0,1,0
502,2014,Fury,80000000,85817906,210315681,134,7.6,383904,1,0,...,0,0,0,0,0,1,0,0,0,0
503,2018,Smallfoot,80000000,83240103,213686569,96,6.7,24204,0,1,...,0,0,0,0,0,0,0,0,1,0
504,2006,The Pink Panther,80000000,82226474,158926474,93,5.6,75937,0,1,...,0,0,0,0,0,0,0,0,0,0
505,2011,Zookeeper,80000000,80360866,170805525,102,5.2,52782,0,0,...,0,0,1,0,0,0,0,0,0,0
506,2008,The Day the Earth Stood Still,80000000,79366978,237370350,104,5.5,156151,0,0,...,0,0,0,0,1,0,0,0,0,1
507,1997,Conspiracy Theory,80000000,76118990,142783718,135,6.7,87759,1,0,...,0,1,0,0,1,0,0,0,0,0
508,2002,Spirit: Stallion of the Cimarron,80000000,73215310,106515310,83,7.1,58009,0,1,...,0,0,0,0,0,0,0,0,1,0
509,2001,Swordfish,80000000,69772969,147080413,99,6.5,169334,1,0,...,0,0,0,0,1,0,0,0,0,0
510,2004,The Manchurian Candidate,80000000,65948711,96148711,129,6.6,97700,0,0,...,0,1,0,0,0,0,0,0,0,1
511,2005,Bewitched,80000000,63313159,131159306,102,4.8,65444,0,0,...,0,0,1,0,0,0,0,1,0,0
512,2002,The Time Machine,80000000,56684819,98983590,96,5.9,113295,1,1,...,0,0,0,0,0,0,0,0,0,1
513,1998,What Dreams May Come,80000000,55485043,71485043,113,7.0,95691,0,0,...,0,0,1,0,0,0,0,1,0,0
514,1998,Mighty Joe Young,80000000,50632037,50632037,114,5.6,26071,1,1,...,0,0,0,0,0,0,0,0,0,0
515,2005,The Legend of Zorro,80000000,45575336,141475336,129,6.0,86355,1,1,...,0,0,1,0,0,0,0,0,0,0
516,2000,Little Nicky,80000000,39442871,58270391,90,5.3,91985,0,0,...,0,0,0,0,0,0,0,1,0,0
517,2009,Surrogates,80000000,38577772,119668350,89,6.3,163642,1,0,...,0,0,0,0,1,0,0,0,0,1
518,2001,Evolution,80000000,38311134,98341932,101,6.1,113259,0,0,...,0,0,0,0,0,0,0,0,0,1
519,2005,The Brothers Grimm,80000000,37899638,105299638,118,5.9,110651,1,1,...,0,0,0,0,0,0,0,0,0,0
520,1996,Mars Attacks!,80000000,37771017,101371017,106,6.3,197308,0,0,...,0,0,0,0,0,0,0,0,0,1

In [21]:
# Change dtypes
df_combo['ProductionBudget']=df_combo['ProductionBudget'].astype('int')
df_combo['WorldwideGross']=df_combo['WorldwideGross'].astype('int')
df_combo['DomesticGross']=df_combo['DomesticGross'].astype('int')
df_combo['runtimeMinutes']=df_combo['runtimeMinutes'].astype('int')
df_combo['Year']=df_combo['Year'].astype('int')
df_combo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 521 entries, 0 to 520
Data columns (total 27 columns):
Year                521 non-null int64
Title               521 non-null object
ProductionBudget    521 non-null int64
DomesticGross       521 non-null int64
WorldwideGross      521 non-null int64
runtimeMinutes      521 non-null int64
Rating IMDb         521 non-null float64
numVotes            521 non-null int64
Action              521 non-null int64
Adventure           521 non-null int64
Biography           521 non-null int64
Comedy              521 non-null int64
Crime               521 non-null int64
Drama               521 non-null int64
Family              521 non-null int64
History             521 non-null int64
Horror              521 non-null int64
Music               521 non-null int64
Mystery             521 non-null int64
Romance             521 non-null int64
Sport               521 non-null int64
Thriller            521 non-null int64
War                 521 non-null int64
Western             521 non-null int64
Fantasy             521 non-null int64
Animation           521 non-null int64
Sci-Fi              521 non-null int64
dtypes: float64(1), int64(25), object(1)
memory usage: 114.0+ KB

In [22]:
# Export
df_combo = df_combo.rename(columns={"Rating IMDb ": "Rating_IMDb ", "numVotes ": "Popularity"})
df_combo.to_csv("df_combo_genres.csv")
df_combo

,Year,Title,ProductionBudget,DomesticGross,WorldwideGross,runtimeMinutes,Rating IMDb,numVotes,Action,Adventure,...,Music,Mystery,Romance,Sport,Thriller,War,Western,Fantasy,Animation,Sci-Fi
0,2009,Avatar,425000000,760507625,2789705275,162,7.8,1049384,1,1,...,0,0,0,0,0,0,0,1,0,0
1,2011,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,136,6.6,449280,1,1,...,0,0,0,0,0,0,0,1,0,0
2,2019,Avengers: Endgame,400000000,858373000,2795473000,181,8.7,470989,1,1,...,0,0,0,0,0,0,0,0,0,1
3,2015,Avengers: Age of Ultron,330600000,459005868,1403013963,141,7.3,670766,1,1,...,0,0,0,0,0,0,0,0,0,1
4,2018,Avengers: Infinity War,300000000,678815482,2048134200,149,8.5,682591,1,1,...,0,0,0,0,0,0,0,0,0,1
5,2017,Justice League,300000000,229024295,655945209,120,6.5,331909,1,1,...,0,0,0,0,0,0,0,1,0,0
6,2015,Spectre,300000000,200074175,879620923,148,6.8,353803,1,1,...,0,0,0,0,1,0,0,0,0,0
7,2012,The Dark Knight Rises,275000000,448139099,1084439099,164,8.4,1393518,1,0,...,0,0,0,0,1,0,0,0,0,0
8,2018,Solo: A Star Wars Story,275000000,213767512,393151347,135,7.0,229546,1,1,...,0,0,0,0,0,0,0,1,0,0
9,2013,The Lone Ranger,275000000,89302115,260002115,150,6.4,209489,1,1,...,0,0,0,0,0,0,1,0,0,0
10,2012,John Carter,275000000,73058679,282778100,132,6.6,242569,1,1,...,0,0,0,0,0,0,0,0,0,1
11,2010,Tangled,260000000,200821936,586477240,100,7.8,368282,0,1,...,0,0,0,0,0,0,0,0,1,0
12,2007,Spider-Man 3,258000000,336530303,894860230,139,6.2,463515,1,1,...,0,0,0,0,0,0,0,0,0,1
13,2016,Captain America: Civil War,250000000,408084349,1140069413,147,7.8,588745,1,1,...,0,0,0,0,0,0,0,0,0,1
14,2016,Batman v Superman: Dawn of Justice,250000000,330360194,867500281,151,6.5,579400,1,1,...,0,0,0,0,0,0,0,1,0,0
15,2012,The Hobbit: An Unexpected Journey,250000000,303003568,1017003568,169,7.9,721067,0,1,...,0,0,0,0,0,0,0,1,0,0
16,2009,Harry Potter and the Half-Blood Prince,250000000,302089278,935213767,153,7.6,421105,0,1,...,0,0,0,0,0,0,0,1,0,0
17,2013,The Hobbit: The Desolation of Smaug,250000000,258366855,960366855,161,7.8,567122,0,1,...,0,0,0,0,0,0,0,1,0,0
18,2014,The Hobbit: The Battle of the Five Armies,250000000,255119788,945577621,144,7.4,440189,0,1,...,0,0,0,0,0,0,0,1,0,0
19,2017,The Fate of the Furious,250000000,225764765,1234846267,136,6.7,181168,1,1,...,0,0,0,0,1,0,0,0,0,0
20,2006,Superman Returns,232000000,200120000,374085065,154,6.1,260949,1,1,...,0,0,0,0,0,0,0,0,0,1
21,2017,Pirates of the Caribbean: Dead Men Tell No Tales,230000000,172558876,788241137,129,6.6,230514,1,1,...,0,0,0,0,0,0,0,1,0,0
22,2008,Quantum of Solace,230000000,169368427,591692078,106,6.6,378714,1,1,...,0,0,0,0,1,0,0,0,0,0
23,2012,The Avengers,225000000,623279547,1517935897,143,8.1,1188277,1,1,...,0,0,0,0,0,0,0,0,0,1
24,2013,Man of Steel,225000000,291045518,667999518,143,7.1,649741,1,1,...,0,0,0,0,0,0,0,0,0,1
25,2008,The Chronicles of Narnia: Prince Caspian,225000000,141621490,417341288,150,6.5,180108,1,1,...,0,0,0,0,0,0,0,0,0,0
26,2012,The Amazing Spider-Man,220000000,262030663,757890267,136,7.0,528028,1,1,...,0,0,0,0,0,0,0,0,0,1
27,2012,Battleship,220000000,65233400,313477717,131,5.8,225743,1,1,...,0,0,0,0,0,0,0,0,0,1
28,2017,Transformers: The Last Knight,217000000,130168683,602893340,154,5.2,120107,1,1,...,0,0,0,0,0,0,0,0,0,1
29,2015,Jurassic World,215000000,652270625,1648854864,124,7.0,541543,1,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,2008,Bedtime Stories,80000000,110101975,221468935,99,6.1,82727,0,0,...,0,0,0,0,0,0,0,1,0,0
492,2002,Road to Perdition,80000000,104054514,183354514,117,7.7,228828,0,0,...,0,0,0,0,1,0,0,0,0,0
493,2003,Daredevil,80000000,102543518,182782518,103,5.3,198028,1,0,...,0,0,0,0,0,0,0,0,0,0
494,2008,Eagle Eye,80000000,101440743,180585259,118,6.6,167536,1,0,...,0,1,0,0,1,0,0,0,0,0
495,1997,Con Air,80000000,101117573,224117573,115,6.8,258220,1,0,...,0,0,0,0,1,0,0,0,0,0
496,2010,Yogi Bear,80000000,100246011,204774690,80,4.6,19007,0,1,...,0,0,0,0,0,0,0,0,1,0
497,2003,Cold Mountain,80000000,95632614,165173909,154,7.2,132550,0,1,...,0,0,0,0,0,0,0,0,0,0
498,2010,The Book of Eli,80000000,94835059,158750817,118,6.9,272565,1,1,...,0,0,0,0,0,0,0,0,0,0
499,1997,Flubber,80000000,92993801,177993801,93,5.2,78319,0,0,...,0,0,0,0,0,0,0,0,0,1
500,1999,The Haunting,80000000,91188905,180188905,113,4.9,67064,0,0,...,0,1,0,0,0,0,0,1,0,0
501,1996,Space Jam,80000000,90463534,250200000,88,6.4,142260,0,1,...,0,0,0,0,0,0,0,0,1,0
502,2014,Fury,80000000,85817906,210315681,134,7.6,383904,1,0,...,0,0,0,0,0,1,0,0,0,0
503,2018,Smallfoot,80000000,83240103,213686569,96,6.7,24204,0,1,...,0,0,0,0,0,0,0,0,1,0
504,2006,The Pink Panther,80000000,82226474,158926474,93,5.6,75937,0,1,...,0,0,0,0,0,0,0,0,0,0
505,2011,Zookeeper,80000000,80360866,170805525,102,5.2,52782,0,0,...,0,0,1,0,0,0,0,0,0,0
506,2008,The Day the Earth Stood Still,80000000,79366978,237370350,104,5.5,156151,0,0,...,0,0,0,0,1,0,0,0,0,1
507,1997,Conspiracy Theory,80000000,76118990,142783718,135,6.7,87759,1,0,...,0,1,0,0,1,0,0,0,0,0
508,2002,Spirit: Stallion of the Cimarron,80000000,73215310,106515310,83,7.1,58009,0,1,...,0,0,0,0,0,0,0,0,1,0
509,2001,Swordfish,80000000,69772969,147080413,99,6.5,169334,1,0,...,0,0,0,0,1,0,0,0,0,0
510,2004,The Manchurian Candidate,80000000,65948711,96148711,129,6.6,97700,0,0,...,0,1,0,0,0,0,0,0,0,1
511,2005,Bewitched,80000000,63313159,131159306,102,4.8,65444,0,0,...,0,0,1,0,0,0,0,1,0,0
512,2002,The Time Machine,80000000,56684819,98983590,96,5.9,113295,1,1,...,0,0,0,0,0,0,0,0,0,1
513,1998,What Dreams May Come,80000000,55485043,71485043,113,7.0,95691,0,0,...,0,0,1,0,0,0,0,1,0,0
514,1998,Mighty Joe Young,80000000,50632037,50632037,114,5.6,26071,1,1,...,0,0,0,0,0,0,0,0,0,0
515,2005,The Legend of Zorro,80000000,45575336,141475336,129,6.0,86355,1,1,...,0,0,1,0,0,0,0,0,0,0
516,2000,Little Nicky,80000000,39442871,58270391,90,5.3,91985,0,0,...,0,0,0,0,0,0,0,1,0,0
517,2009,Surrogates,80000000,38577772,119668350,89,6.3,163642,1,0,...,0,0,0,0,1,0,0,0,0,1
518,2001,Evolution,80000000,38311134,98341932,101,6.1,113259,0,0,...,0,0,0,0,0,0,0,0,0,1
519,2005,The Brothers Grimm,80000000,37899638,105299638,118,5.9,110651,1,1,...,0,0,0,0,0,0,0,0,0,0
520,1996,Mars Attacks!,80000000,37771017,101371017,106,6.3,197308,0,0,...,0,0,0,0,0,0,0,0,0,1