In [54]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import seaborn as sns
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression, Lasso, Ridge
import matplotlib.pyplot as plt
%matplotlib inline
import csv
from bs4 import BeautifulSoup
from datetime import datetime
import seaborn
from sklearn import linear_model
import requests

In [55]:
#Collect data from wikipedia.org by BeautifulSoup
res1 = requests.get("https://en.wikipedia.org/wiki/List_of_Academy_Award-winning_films")
soup1 = BeautifulSoup(res.content,'lxml')
oscar = pd.DataFrame()
table = soup1.find_all('table')
df9 = pd.read_html(str(table))
oscar  = oscar.append(df9)
    
oscar.head(5)

,Awards,Film,Nominations,Year,vteAcademy Awards lists,vteAcademy Awards lists.1
0,3,Green Book,5,2018,NaN,NaN
1,4,Bohemian Rhapsody,5,2018,NaN,NaN
2,3,Roma,10,2018,NaN,NaN
3,3,Black Panther,7,2018,NaN,NaN
4,1,The Favourite,10,2018,NaN,NaN

In [56]:
oscar = oscar.head(418)

In [57]:
oscar.drop(['vteAcademy Awards lists', 'vteAcademy Awards lists.1', 'Year'], 1, inplace=True)

oscar.rename(columns={"Film": "Title"})
oscar.head(5)

  Awards               Film Nominations
0      3         Green Book           5
1      4  Bohemian Rhapsody           5
2      3               Roma          10
3      3      Black Panther           7
4      1      The Favourite          10

In [68]:
oscar.dropna()
oscar.info()
#oscar.to_csv("oscar2.csv")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 0 to 417
Data columns (total 3 columns):
Awards         418 non-null object
Film           418 non-null object
Nominations    418 non-null object
dtypes: object(3)
memory usage: 13.1+ KB